<form action="submit" method="post">
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" placeholder="Title"><br>
  <hr>
  <textarea id="description" name="description" rows="4" cols="50" > </textarea>
  <br>
  <input type="submit" value="Submit">
</form>